<div class="product" onclick="location.href = '{{ .url }}'">
  <div class="crop">
  <img src="{{ .img }}" alt="Gambar Produk">
  </div>
  <h3>{{ .name }}</h3>
  <p class="harga">Rp.{{ .price }}</p>
  <a href="link_catalog_whatsapp" class="btn-whatsapp">Beli via WhatsApp</a>
</div>

<style>
.product:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0,0,0, 0.2);
}
.product {
  display: inline-block;
  background-color:#f1f1f1;
  width: 320px;
  height: auto;
  margin: 20px;
  text-align: left;
  padding: 20px;
  border: 0px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

.product img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 350px;
  width: auto;
}

.product h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.product .harga {
  font-size: 16px;
  color: #888;
}

.product .btn-whatsapp {
  display: inline-block;
  background-color: green;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
}

/* @media (min-width: 768px) { */
/*   .product { */
/*     flex-direction: row; */
/*     justify-content: space-between; */
/*   } */
/**/
/*   .product img { */
/*     width: 200px; */
/*     margin-bottom: 0; */
/*     margin-right: 20px; */
/*   } */
/**/
/*   .product .harga { */
/*     font-size: 18px; */
/*   } */
/* } */
</style>
