<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>

  <body>

    <div id="all">

        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            <div class="container">
                    <div style="text-align:center">
            {{ $taxonomy := "tags" }}
{{ with .GetTerms $taxonomy }}
  <p>
    {{ (site.GetPage $taxonomy).LinkTitle }}:
    {{ range $k, $_ := . -}}
      {{ if $k }}, {{ end }}
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    {{- end }}
  </p>
{{ end }}
            {{ .Content }}
              {{ range .Pages }}
                    <div class="product" onclick="location.href = '{{ .Permalink }}'">
                      <img src="https://cdn.jsdelivr.net/gh/novores/ldtqn-jabar/static/img/products/{{ .Params.img }}" alt="Gambar Produk">
                      <h3><strong>{{ .Title }}</strong></h3>
                      {{ if .Params.disc }}
                      <div class="harga">Rp.{{ .Params.disc }}</br><del style="font-size:11px">Rp.{{ .Params.price }}</del></div>
                      {{ else }}
                      <p class="harga">Rp.{{ .Params.price }}</p>
                      {{ end }}
                      <a href="{{ .Params.linkWA }}" class="btn-whatsapp">Beli via WhatsApp</a>
                    </div>
              {{ end }}
              

                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>

