{{ if .IsNamedParams }} 
<link href="{{ "css/w3.css" | relURL }}" rel="stylesheet">
{{ $data := index .Site.Data.products $.Params.data }} {{ range $data }}
<!-- BEGIN SLIDE IMAGE -->
<section>
  <div id="myCarousel" class="carousel slide" data-interval="false" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
      {{ if .img }}<li data-target="#myCarousel" data-slide-to="0" class="active"></li>{{ end }}
      {{ if .img1 }}<li data-target="#myCarousel" data-slide-to="1"></li>{{ end }}
      {{ if .img2 }}<li data-target="#myCarousel" data-slide-to="2"></li>{{ end }}
  </ol>
    <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
        <img src="https://cdn.jsdelivr.net/gh/novores/ldtqn-jabar/static/img/products/{{ .img }}" style="height:400px" alt="Los Angeles">
    </div>
      {{ if .img1 }}
    <div class="item">
        <img src="https://cdn.jsdelivr.net/gh/novores/ldtqn-jabar/static/img/products/{{ .img1 }}" style="height:400px"alt="Chicago">
    </div>
      {{ end }}
      {{ if .img2 }}

    <div class="item">
        <img src="https://cdn.jsdelivr.net/gh/novores/ldtqn-jabar/static/img/products/{{ .img2 }}" style="height:400px" alt="New York">
    </div>
      {{ end }}
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</section>
 <!-- END SLIDE IMAGE -->

<br />
<div class="w3-container w3-animate-top">
  {{ if .disc }}
  <h3>
    Rp.{{ .disc }}
    <del style="font-size: 17px">Rp.{{ .price }}</del>
  </h3>
  {{ else }}
  <h3>Rp. {{ .price }}</h3>
  {{ end }}
</div>
<br>
<br>

<!-- BEGIN TAB -->
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#spec">Detail Produk</a></li>
  <li><a data-toggle="tab" href="#order">Cara pemesanan</a></li>
</ul>

<div class="tab-content">
  <div id="spec" class="tab-pane fade in active">
    <h3>Detail Produk</h3>
    {{ .spec | safeHTML }}
  </div>
  <div id="order" class="tab-pane fade">
    <h3>Cara Pemesanan</h3>
    {{ .order | safeHTML }}
  </div>
</div>
<br>
<a class="btn btn-success" href="{{ .linkWA }}" role="button">Pesan Via WhatsApp</a>
{{ end }}
    {{ end }}
