<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  {{ partial "headers.html" . }}
  {{ partial "custom_headers.html" . }}
</head>

<body>

  <div id="all">

    {{ partial "top.html" . }}

    {{ partial "nav.html" . }}


    <div id="content">
      <div class="container">

        <div class="" id="blog-post">

          {{ if or .Params.author .Params.date }}
          <p class="text-muted text-uppercase mb-small text-right">
            {{ if isset .Params "authors" }}
            {{ i18n "authorBy" }} {{ range $index, $author := .Params.authors }}{{ if $index }}, {{ end }}<a
              href="{{ (printf " %s/%s" ("authors" | relLangURL) ($author | urlize)) }}">{{ $author }}</a>{{ end }}
            {{ end }}
            {{ if and .Params.author .Params.date }} | {{ end }}
            {{ if .Params.date }}
            {{ $createdAt := .Date.Format .Site.Params.date_format }}
            {{ range $index, $month := slice "January" "February" "March" "April" "May" "June" "July" "August"
            "September" "October" "November" "December" }}
            {{ $createdAt = replace $createdAt $month (i18n $month) }}
            {{ end }}
            {{ $createdAt }}
            {{ end }}
          </p>
          {{ end }}

          <div id="post-content">
            <section>
              <div id="myCarousel" class="carousel slide" data-interval="false" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  {{ if .Params.img }}<li data-target="#myCarousel" data-slide-to="0" class="active"></li>{{ end }}
                  {{ if .Params.img1 }}<li data-target="#myCarousel" data-slide-to="1"></li>{{ end }}
                  {{ if .Params.img2 }}<li data-target="#myCarousel" data-slide-to="2"></li>{{ end }}
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="https://s6.imgcdn.dev/{{ .Params.img }}" style="height:400px" alt="Los Angeles">
                  </div>
                  {{ if .Params.img1 }}
                  <div class="item">
                    <img src="https://s6.imgcdn.dev/{{ .Params.img1 }}" style="height:400px" alt="Chicago">
                  </div>
                  {{ end }}
                  {{ if .Params.img2 }}

                  <div class="item">
                    <img src="https://s6.imgcdn.dev/{{ .Params.img2 }}" style="height:400px" alt="New York">
                  </div>
                  {{ end }}
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </section>
            <!-- END SLIDE IMAGE -->
            <section>
              <h1>{{ .Params.name }}</h1>
            </section>
            <div class="w3-container w3-animate-top">
              {{ if .Params.disc }}
              <span style="border:solid 1px #B8E891;padding:10px;border-radius:10px">
                <span style="font-size: 20px;font-weight:400">Rp.{{ .Params.price }}</span>
                <del style="font-size: 17px;font-weight:300">Rp.{{ .Params.disc }}</del>
              </span>
              {{ else }}
              <p style="font-size: 20px;">Rp. {{ .Params.disc }}</p>
              {{ end }}
            </div>
            <br>
            <br>

            <!-- BEGIN TAB -->
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#spec">Detail Produk</a></li>
              <li><a data-toggle="tab" href="#order">Cara pemesanan</a></li>
            </ul>

            <div class="tab-content">
              <div id="spec" class="tab-pane fade in active">
                <h3>Detail Produk</h3>
                {{ .Params.spec | safeHTML }}
              </div>
              <div id="order" class="tab-pane fade">
                <h3>Cara Pemesanan</h3>
                {{ .Params.order | safeHTML }}
              </div>
            </div>
            <br>
            {{ if not .Site.Params.enableCart}}
            <a class="btn btn-success" href="{{ .Params.linkWA }}" role="button">Pesan Via WhatsApp</a>
            {{ else }}
            <button class="snipcart-add-item buy-button" data-item-id="{{ .Params.id }}"
              data-item-name="{{ .Params.name }}" data-item-price="{{ .Params.price }}" data-item-url="{{ .Permalink }}"
              data-item-description="{{ .Params.desc }}">
              Add to cart
            </button>
            {{ end }}
          </div>
        </div>
        <!-- /#post-content -->
        {{ if .Site.DisqusShortname }}
        <div id="comments">
          {{ template "_internal/disqus.html" . }}
        </div>
        {{ end }}

      </div>
      <!-- /#blog-post -->

      <!-- *** LEFT COLUMN END *** -->

      <!-- *** RIGHT COLUMN *** -->


      <!-- *** RIGHT COLUMN END *** -->


    </div>
    <!-- /.container -->
  </div>
  <!-- /#content -->

  {{ partial "footer.html" . }}

  </div>
  <!-- /#all -->

  {{ partial "scripts.html" . }}

</body>

</html>
